.card {
    background: rgb(199, 183, 205);
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 10px rgba(143, 13, 13, 0.1);
  }
  .image {
    margin: 10px auto 20px;
    width: 50%;
    height: 50%;
    border-radius:50%;
    overflow: hidden;
    object-fit: cover;
  }